html body {
  /* background-color: #aebb733f; */
}

.cinnabar {
    color: #FF5E0E;
  }

a {
    color: #008575 !important;
  }

.carousel-container {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.teal {
  color: teal;
}

.text-outline {
  color: #ECFFB0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* nav.navbar.sunglow {
  background-color: #FFC857 !important;
} */
